$myColor: #931680;
$myGradient: linear-gradient(122.3deg, #6f4785 14.6%, #e881a6 29.6%, #ededb7 42.1%, #f4a6d7 56.7%, #9adbe8 68.7%, #eee29f 84.8%);

:root {
  --primary-color: #518581;
  --secondary-color: #afadb5;
  --dark-color: #151411;
  --light-color: #fff;
  --gray-color: #d9d9d9;
  --light-grey: #f3f3f3;
}