@import '../../../shared/styles/theme/colors.scss';


.mycard {
    grid-template-columns: 50px 1fr;
    gap: 35px;
    padding: 20px;
    width: 100%;
    height: 200px;
    display: grid;
    align-items: center;
    color: #564e4e;
    background-color: rgb(245, 237, 237);
    border-radius: 15px;
}

.title {
    grid-column: 2 / 4;
    grid-row: 1;
    margin: 0;
    color: $myColor;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.number {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.descr {
    grid-column: 1 / 4;
    grid-row: 2;
    margin: 0;
    padding: 0 45px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    grid-column: 3;
    grid-row: 3;
    align-self: center;
    justify-self: end;
}

.loading {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        border-radius: 15px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: goldenrod;
        font-size: 30px;

        background-color: rgba(10, 17, 19, 0.563);
    }
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    color: goldenrod;
}
